

body{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }

.inicio-fondo h1 {
text-align: center;
font-size: 45px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blueviolet;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.inicio-fondo{
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}



.iniciopag{
  display: grid;
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "img1 img2 img3";

}
.uno{
grid-area: img1;
}
.dos{
grid-area: img2;
}
.tres{
  grid-area: img3;

}
.txt h1{
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: blueviolet; ;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.productos h1{
  text-align: center;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blueviolet;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


}
.productos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "card1 card2 card3";
}
.card1{
  grid-area: card1;
}
.card2{
  grid-area: card2;
}
.card3{
  grid-area: card3;
}
footer{
padding: 30px;  
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

position: sticky;
bottom: top
;
}
footer{
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.galeria{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "img1 img2 img3"
  "img4 img5 img6"
 ;
  
}
.galeria{
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}
.gal1{
  grid-area: img1;
}
.gal2{
  grid-area: img2;
}
.gal3{
  grid-area: img3;
}
.gal4{
  grid-area: img4;
}
.gal5{
  grid-area: img5;
}
.gal6{
  grid-area: img6;
}

.fondogaleria{
  background-color: #C850C0;
}
.fondogaleria h1{
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
  text-align: center;
}
.rama{
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  }
.rama13{
  height: 150px;
  width: 100px;
  background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

  margin: 40px 60px;
}
.rama13 :hover{
  transform: scale(1.25);
}
.ramaimg{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "ramaimg1 ramaimg2"
}
.rama13{
  grid-area: ramaimg1;
}
.rama14{
  grid-area: ramaimg2;
}
.rama14 :hover{
  transform: scale(1.25);
}
.card{
  align-items: center;
}

.navbar navbar-expand-lg navbar-light bg-light{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
}
.nav{
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.carouselslide{
  width: 100px;
  height: 100px;
}
.productos{
  width: 380px;
  height: 400px;
  display: inline-block;
  justify-content: center;
  margin-left: 30%;
  }
  .quien h1{
      text-align: center;
font-size: 45px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blueviolet;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
  .card{
      margin-left: 30%;
  }
  .list-group{
      margin-right: 0%;
      justify-content: end;
  }
  @media only screen and (max-width:768px) {
  
  }
  @media only screen and (max-width:576px) {
      
  }
  .productos2{
      width:400px;
  height: 400px;
  
  justify-content: center;
  margin-left: 30%;
  }

